// .button-inner {
//     display: flex;
//     position: relative;
//     flex-flow: row nowrap;
//     flex-shrink: 0;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
// }


  
  
    

// body {
//     height: 100vh;
//     width: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0;
//     background-color: black
// }
#game-board{
   display: 100%;
    background-color: burlywood;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.square {
    position: absolute;
    border: .25vmin solid black;
    width: 10px;
    height: 10px;
    background-color: var(--ion-color-primary);
}

