<ion-header>
  <ion-toolbar>
    <ion-title>snake</ion-title>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #gameBoard id="game-board">
    <div #snake id="snake">
      <div #tail class="head" id="head"></div>
      <!-- <div #tail class="tail" id="tail1"></div> -->
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          class="direction"
          (click)="toggleAnimationUp()"
          expand="full"
          ><ion-icon name="arrow-up-outline"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="direction"
          (click)="toggleAnimationLeft()"
          expand="full"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="direction"
          (click)="toggleAnimationDown()"
          expand="full"
          ><ion-icon name="arrow-down-outline"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          class="direction"
          (click)="toggleAnimationRight()"
          expand="full"
          ><ion-icon name="arrow-forward-outline"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
