<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <!-- <div class="card">
    <img class="card__img" [src]= myImage1 >
    <div class="card__body">
    <h3 class="card_title">I am NIKOLAY NIKOLOV</h3>
    <p class="card__text">I wont to be a developer</p>
    </div>
  </div> --> 

  
  <!-- <ion-input type="email"> </ion-input> -->
  
  <div class="resume">
    <div class="resume_left">
      <div class="resume_profile">
        <img src="https://i.imgur.com/nhM6Lbs.jpg" alt="profile_pic" />
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">Nikolay Nikolov</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-map-signs"></i>
              </div>
              <div class="data">Pazardzhik, Bulgaria</div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="data">+359893862869</div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="data">nikolaynikolov91@gmail.com</div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_skills">
          <div class="title">
            <p class="bold">skill's</p>
          </div>
          <ul>
            <li>
              <div class="skill_name">HTML</div>
              <div class="skill_progress">
                <span style="width: 30%"></span>
              </div>
              <div class="skill_per">30%</div>
            </li>
            <li>
              <div class="skill_name">CSS</div>
              <div class="skill_progress">
                <span style="width: 20%"></span>
              </div>
              <div class="skill_per">20%</div>
            </li>
            <li>
              <div class="skill_name">Angular</div>
              <div class="skill_progress">
                <span style="width: 30%"></span>
              </div>
              <div class="skill_per">30%</div>
            </li>
            <li>
              <div class="skill_name">JS</div>
              <div class="skill_progress">
                <span style="width: 50%"></span>
              </div>
              <div class="skill_per">50%</div>
            </li>
            <li>
              <div class="skill_name">TS</div>
              <div class="skill_progress">
                <span style="width: 40%"></span>
              </div>
              <div class="skill_per">40%</div>
            </li>
          </ul>
        </div>
        <div class="resume_item resume_social">
          <div class="title">
            <p class="bold">Social</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fab fa-facebook-square"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Facebook</p>
                <a class="data" href="https://www.facebook.com/nikolay.nikolov.9212"
                  ><p>Nikolay@facebook</p></a
                >
              </div>
            </li>

            <li>
              <div class="icon">
                <i class="fab fa-github"></i>
              </div>
              <div class="data">
                <p class="semi-bold">GitHub</p>
                <a class= "data" href="https://github.com/nikolaynikolo91"
                  ><p>Nikolay@github</p></a
                >
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Linkedin</p>
                <a class="data"
                  href="https://www.linkedin.com/in/nikolay-nikolov-069a2b1a1/"
                  ><p>Nikolay@linkedin</p></a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Work Experience</p>
        </div>
        <ul>
          <li>
            <div class="date">2019 - Present</div>
            <div class="info">
              <p class="semi-bold">KOSTAL Group. Automotive (Pazardzhik)</p>
              <p>Тechnician Мechanic</p>
            </div>
          </li>
          <li>
            <div class="date">2015 - 2019</div>
            <div class="info">
              <p class="semi-bold">Drylining at Self Employment (London)</p>
              <p>Gypsum wall Partition Fixer</p>
            </div>
          </li>
          <li>
            <div class="date">2013 - 2014</div>
            <div class="info">
              <p class="semi-bold">Dalkia Energy Services (Panagyurishte)</p>
              <p>Manufacturing Operator</p>
            </div>
          </li>
          <li>
            <div class="date">2011 - 2012</div>
            <div class="info">
              <p class="semi-bold">OPTIX Co (Panagyurishte)</p>
              <p>Optician</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_education">
        <div class="title">
          <p class="bold">Education</p>
        </div>
        <ul>
          <li>
            <div class="date">2019 - Present</div>
            <div class="info">
              <p class="semi-bold">Software University (Sofia)</p>
              <p>Javascript Web Developer</p>
            </div>
          </li>
          <li>
            <div class="date">2006 - 2010</div>
            <div class="info">
              <p class="semi-bold">
                High School Georgi Benkovski (Town of Pazardjik)
              </p>
              <p>Mathematics and Computer Science</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_hobby">
        <div class="title">
          <p class="bold">Hobby</p>
        </div>
        <ul>
          <li><i class="fas fa-book"></i></li>
          <li><i class="fas fa-gamepad"></i></li>
          <li><i class="fas fa-music"></i></li>
          <li><i class="fas fa-dumbbell"></i></li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
