<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Nikolay Nikolov </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <i class="fas fa-map-signs"></i>
                    </ion-col>
                    <ion-col>
                      <ion-text> Pazardzhik, Bulgaria </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <i class="fas fa-mobile-alt"></i>
                    </ion-col>
                    <ion-col>
                      <ion-text> +359893862869 </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <i class="fas fa-envelope"></i>
                    </ion-col>
                    <ion-col>
                      <ion-text> nikolaynikolov91@gmail.com </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title> skill's </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-html5"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.3"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 30% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-css3"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.2"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 20% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-angular"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.3"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 30% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-javascript"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.5"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 50% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col> TS </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.4"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 40% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-ionic"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <ion-progress-bar
                        color="primary"
                        value="0.3"
                      ></ion-progress-bar>
                    </ion-col>
                    <ion-col>
                      <ion-text> 30% </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title> SOCIAL </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img
              style="width: 50%; height: 50%"
              src="https://i.imgur.com/nhM6Lbs.jpg"
            ></ion-img>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-facebook"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <a
                        class="data"
                        href="https://www.facebook.com/nikolay.nikolov.9212"
                        ><p>Nikolay@facebook</p></a
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-github"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <a class="data" href="https://github.com/nikolaynikolo91"
                        ><p>Nikolay@github</p></a
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <a
                        class="data"
                        href="https://www.linkedin.com/in/nikolay-nikolov-069a2b1a1/"
                        ><p>Nikolay@linkedin</p></a
                      >
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Work Experience </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-list>
                  <p>2019 - Present</p>
                  <p>Kostal Group. Automotive (Pazardzhik)</p>
                  <p>Technicial Mechanic</p>
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list>
                  <p>2015 - 2019</p>
                  <p>Drylining as Self Employment (London)</p>
                  <p>Gypsum wall Partition Fixer</p>
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list>
                  <p>2013 - 2014</p>
                  <p>Dalkia Energy Services (Panagyurishte)</p>
                  <p>Manufacturing Operator</p>
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list>
                  <p>2011 - 2012</p>
                  <p>OPTIX Co (Panagyurishte)</p>
                  <p>Optician</p>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title> Education </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-list>
                  <p>2019 - Present</p>
                  <p>Software University (Sofia)</p>
                  <p>Javascript Web Developer</p>
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list>
                  <p>2006 - 2010</p>
                  <p>High School Georgi Benkovski (Town of Pazardzhik)</p>
                  <p>Mathematics and Computer Science</p>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title> Hobby </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><i class="fas fa-book"></i></ion-col>
                <ion-col><i class="fas fa-gamepad"></i></ion-col>
                <ion-col><i class="fas fa-music"></i></ion-col>
                <ion-col><i class="fas fa-dumbbell"></i></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
